*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
button:hover{
    cursor: pointer;
}
html{
    min-height: 100%;
}
body{
  width: 100%;
  height: 100%;
  padding: 0;
  background: linear-gradient(to bottom, #85e9e9 0%, #497BE8 80%, #6e49e8 100%) no-repeat;
}

.container{
    background: #fff;
    max-width: 1000px;
    width: 100%;
    margin: 120px auto;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    header{
        font-size: 30px;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
        div{
            display: flex;
            gap: 10px;
            button{
                padding: 0;
                margin: 0;
                height: 60px;
                width: 60px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #fffdfd;
                border-radius: 5px;
                transition: all 0.3s ease;
            }
            .all-return{
                border: 2px solid #e7352f;
                &:hover{
                    background-color: #dd5752;
                    border: 2px solid #dd5752;
                    svg {
                        fill:#f5f1f1;
                    }
                }
                &:active{
                    background-color: #e7352f;
                    border: 2px solid #a1231f;
                }
            }
            .all-done{
                border: 2px solid #11d85d;
                &:hover{
                    background-color: #52dd8c;
                    border: 2px solid #52dd8c;
                    svg {
                        fill:#f7fdfa;
                    }
                }
                &:active{
                    background-color: #11d85d;
                    border: 2px solid #148f43;
                }
            }
        }
    }
    main{
        .input-form{
        margin: 20px 0;
        display: flex;
        height: 60px;
            input{
                width: 87%;
                height: 100%;
                outline: none;
                border-radius: 3px;
                border: 1px solid #ccc;
                font-size: 20px;
                padding-left: 15px;
                transition: all 0.3s ease;
            }
            input:focus{
                border-color: #8E49E8;
            }
            button{
                width: 11.5%;
                height: 100%;
                border: none;
                color: #fff;
                margin-left: 1.5%;
                font-size: 21px;
                outline: none;
                background: #8E49E8;
                border-radius: 3px;
                opacity: 0.6;
                transition: all 0.3s ease;
            }
            button:hover{
                background: #721ce3;
                color: #ece2fa;
            }
            button:active{
                border: 2px solid #460e90;
                color: #ffffff;
            }
        }

        .todo-list{
        min-height: 100px;
        height: auto;
            li{
                list-style: none;
                min-height: 85px;
                height: auto;
                width: 100%;
                position: relative;
                display: flex;
                align-items: center;
                
                margin-bottom: 8px;
                background: #f2f2f2;
                border-radius: 3px;
                padding: 7px 15px;
                span{
                    width: 7%;
                    font-size: 22px;
                    line-height: 30px;
                    font-weight: 600;
                    margin-right: 15px;
                }
                p{
                    font-size: 20px;
                    line-height: 30px;
                    width: 830px;
                    opacity: 0.8;
                }
                .delete{
                    display: none;
                    position: absolute;
                    right: 15px;
                    top: 20px;
                    margin-left: 15px;
                    height: 50px;
                    width: 50px;
                    background: #dd9c52;
                    border-radius: 3px;
                    border: none;
                }
                .complete{
                    display: none;
                    position: absolute;
                    right: 75px;
                    top: 20px;
                    margin-left: 7px;
                    height: 50px;
                    width: 50px;
                    background: #52dd8c;
                    border-radius: 3px;
                    border: none;
                }
                .return{
                    display: none;
                    position: absolute;
                    right: 75px;
                    top: 20px;
                    margin-left: 7px;
                    height: 50px;
                    width: 50px;
                    background: #dd5752;
                    border-radius: 3px;
                    border: none;
                }
            }
            li:hover{
                p{
                    opacity: 1;
                }
                .delete{
                    display: block;
                    &:hover{
                        background: #f38c16;
                        &::after{
                            position:absolute;
                            content: 'Delete task';
                            height: 25px;
                            width: 90px;
                            top: -35px;
                            left: -40%;
                            background-color: #fffdfd;
                            border: 2px solid #f38c16;
                            border-radius: 3px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 12px;
                            line-height: 16px;
                            opacity: 0.8;
                        }
                    }
                }
                .return{
                    display: block;
                    &:hover{
                        background: #e7352f;
                        &::after{
                            position:absolute;
                            content: 'Return for execution';
                            height: 25px;
                            width: 150px;
                            top: -35px;
                            left: -60%;
                            background-color: #fffdfd;
                            border: 2px solid #e7352f;
                            border-radius: 3px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 12px;
                            line-height: 16px;
                            opacity: 0.8;
                        }
                    }
                }
                .complete{
                    display: block;
                    &:hover{
                        background: #11d85d;
                        &::after{
                            position:absolute;
                            content: 'Mark as done';
                            height: 25px;
                            width: 90px;
                            top: -35px;
                            left: -40%;
                            background-color: #fffdfd;
                            border: 2px solid #11d85d;
                            border-radius: 3px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 12px;
                            line-height: 16px;
                            opacity: 0.8;
                        }
                    }
                }
            }
            .done::after{
                position:absolute;
                content: '';
                height: 100%;
                width: 5px;
                top: 0;
                left: 0;
                background-color: #11d85d;
            }
            .active::after{
                position:absolute;
                content: '';
                height: 100%;
                width: 5px;
                top: 0;
                left: 0;
                background-color: #e7352f;
            }
            
        }
    }
    footer{
        button{
            width: 150px;
            height: 60px;
            border: none;
            color: #fff;
            margin-left: 1.5%;
            font-size: 21px;
            outline: none;
            background: #8E49E8;
            border-radius: 3px;
            opacity: 0.6;
            transition: all 0.3s ease;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                margin-left: 10px;
            }
        }
        button:hover{
            background: #721ce3;
            color: #ece2fa;
        }
        button:active{
            border: 2px solid #460e90;
            color: #ffffff;
        }
    }
}